.container{
    margin: 0 6%;
}

.topSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topSection h1{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: #0f3555;
    margin-bottom: 5%;
}
#arrow{
    border-radius: 50%;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    background-color:  #4533ea;
    text-align: center;
    width: 40px;
    height: 40px;
    padding-top: 5px;
    cursor: pointer;
}
#arrow:hover{
    background-color: #2d17f3;
}
.icons{
    display: flex;
    gap: 20px;
}

/* card style */
.carouselCard{
   display: flex;
  width: 93%;
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
  align-items: center;
  margin-bottom: 8%;
  border-top-left-radius: 40px;

}

.carouselImage{
   width: 380px;
    height: 270px;
    border-top-left-radius: 40px;
}
.cardContainer{
    width: calc(33.33% - 10px); /* Adjust the width as needed */
    
 
    display: flex;
    flex-direction: column;
   
    box-shadow: 0px 0px 14px -7px #0f3555;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-right: 40px;
}
.cardContent{
    padding: 20px 40px;
    
    
}
.cardContent h3{
    font-size: 1.5rem;
    color: #0f3555;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.cardContent h3 span{
    align-items: center;
    font-size: 18px;
    display: flex;
    gap: 5px;
}
.location{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}
.innerLocation{
    display: flex;
    gap: 5px;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #0a2338;
}
.locationIcon,.dollarIcon{
    border-radius: 50%;
    height: 1.7rem;
   padding-top: 4px;
    width: 1.7rem;
    background-color: rgb(71, 84, 101);
    text-align: center;
}
.cardContent p{
    font-size: 14px;
    color: #0f3555;
    line-height: 28px;
}
.bookButton{
    background-color: #621deb;
    width: 100%;
    height: 75px;
    border-bottom-right-radius: 40px;
    text-align: center;
    padding-top: 25px;
    font-size: 1.25rem;
    color: white;
    font-weight: 600;
}